body {
   font-family:
   'Montserrat',sans-serif;
     background: #EFF;
     position: relative;
     overflow: hidden;
     font-size: 100%;
     text-align: center;
     
}

     .ceterion  {
     font-size: 1.6rem;
     position: absolute;
     }


    