<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.farmguardian"
    tools:targetApi="31">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/fgslogo"
        android:label="Farm Guardian"
        android:roundIcon="@drawable/fgslogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".MarketActivity"
            android:exported="false" />
        <activity
            android:name=".LivestockActivity"
            android:exported="false" />
        <activity
            android:name=".EquipmentSharingActivity"
            android:exported="false" />
        <activity
            android:name=".NewsActivity"
            android:exported="false" />

        <activity
            android:name=".Equipment"
            android:exported="false" />
        <activity
            android:name=".animalCaretaker"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivityFirebase"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>



</manifest>